{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/content/article.css' %}" />
{% endblock %}

{% block precontent %}
{% endblock %}

{% block content %}
    <div id="sharebar">
        <a href="https://twitter.com/share?text={{ article.title }}&url={{ request.build_absolute_uri|urlencode }}" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="https://plus.google.com/share?url={{ request.build_absolute_uri|urlencode }}" target="_blank"><i class="fa fa-google-plus-square fa-2x"></i></a>
        <a href="https://reddit.com/submit?title={{ article.title }}&url={{ request.build_absolute_uri|urlencode }}" target="_blank"><i class="fa fa-reddit-square fa-2x"></i></a>
    </div>
    <h1 class="article-title">{{ article.title }}</h1>
    <p class="article-meta">{{ article.last_modified|date:'j F, Y' }}</p>
    <p>
        {% include 'blog/stubs/taglinks.html' with tags=article.tags.all %}
    </p>
    {% include article.body_template %}
    <hr />
    <div id="disqus_thread"></div>
    <script>
        /**
        * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
        */
    
        var disqus_config = function () {
            this.page.url = '{{ request.build_absolute_uri }}';
            this.page.identifier = 'article_{{ article.id }}';
            this.page.title = '{{ article.title }}';
        };
    
        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//hamtamtots.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view comments</noscript>
{% endblock %}

{% block scripts %}
    <script src="{% static 'blog/scripts/article.js' %}"></script>
    <script id="dsq-count-scr" src="//hamtamtots.disqus.com/count.js" async></script>
{% endblock %}