{% extends "layout.html" %}
{% load staticfiles %}

{% block title %}{{ view.get_title|default:"Blog" }} - {{ block.super }}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="pull-right">
        <a href="{% url 'blog_tag_list' %}" class="btn btn-dwong">All Tags</a>
    </div>
    {% for article in object_list %}
        <div class="page-header">
            <h1><a href="{% url 'blog_article' key=article.key %}">{{ article.title }}</a> <small>{{ article.last_modified|date:'j F, Y' }}</small></h1>
            {% include 'blog/stubs/taglinks.html' with tags=article.tags.all %}
        </div>
        <div>
        {{ article.description }}
        </div>
        <hr />
    {% empty %}
        <p>No articles yet.</p>
    {% endfor %}
{% endblock %}